---
name: Commit workflow
on:
  push:
    paths-ignore:
      - '**.md'
  pull_request:
    paths-ignore:
      - '**.md'

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macOS-latest]
        family: [tiny, normal, huge]
    runs-on: ${{ matrix.os }}
    steps:
      - name: ruby setup (mac)
        if: matrix.os == 'macOS-latest'
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: 2.6
      - name: asdf plugin test
        uses: asdf-vm/actions/plugin-test@v1
        env:
          ASDF_VIM_TYPE: ${{ matrix.family }}
          ASDF_VIM_CONFIG: "--with-tlib=ncurses --with-compiledby=asdf-github-action"
        with:
          command: vim --version
